/*
 Main body
*/

body {
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/*
  home
*/

.home {
    margin-top: 25px;
}

.mainbody {
    margin-bottom: 40px;
}

.term {
    margin-top: 5px;
}

#post-footer {
    color: white
}


/*
  SignIn Component
*/

.or {
    font-size: 15px
}

.signin {
    margin-top: 70px;
}

#signinForm {
    margin-top: 20px;
    padding: 15px 25px 25px 25px;
}

.signinform {
    color: black;
    font-size: 15px;
    width: 100%;
    border-radius: 4px;
    padding: 6px 0 6px 10px;
}

.signinformbtn {
    color: white;
    font-size: 25px;
    width: 100%;
    background-color: #333333;
    text-decoration: none;
    border: none;
    border-radius: 6px
}

.create {
    color: blue
}


/*
 SignUp Component
*/

#signupform {
    padding: 8px 20px 9px 20px;
}


/*
  AddMember
*/

.addmember {
    margin-top: 200px
}

.addmemberform {
    margin: 20px 25px;
}


/*
  Create Group
*/

.creategroupform {
    margin-top: 200px;
    transform: translateY(-50%);
}

#creategroupform {
    margin: 20px 25px;
}


/*
  ResetPassword Component
*/

.passwordreset {
    margin-top: 120px;
}

.resetform {
    margin-top: 1px;
    border-radius: 10px
}

#resetform {
    margin-top: 8px;
    padding: 10px 10px 25px 10px;
}


/*Groups*/

.grouplist {
    color: white;
    text-align: center;
}

// New
.row-offcanvas {
    height: 100%;
}

#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #222222;
    float: left;
    height: 90vh;
    position: relative;
    overflow-x: hidden;
    border-right: 1px solid gray;
}

.groups {
    height: 100vh;
    background-color: black;
}

.grouplist {
    height: 60%;
    overflow-y: scroll;
}

.members {
    color: white;
    height: 40%;
    margin: 0 auto;
    padding-top: 30px;
}

.defaultGroup {
    width: 98%;
}

.row-offcanvas .sidebar-offcanvas .members ul li {
    padding: 10px;
}

#main {
    height: 80%;
    overflow: auto;
}

.footer {
    background-color: #333333;
    bottom: 0;
    color: white;
    position: fixed;
    left: 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.messageBoard {
    margin-top: 10px;
    height: 65vh;
    margin-right: 0;
    width: 98%;
    overflow-y: scroll;
}

.messageForm {
    padding-top: 20px;
    width: 98%;
}

.nogroupselected {
    height: 300px;
    margin-top: 20px;
    width: 98%;
}

#content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-size: 25px;
}