/*
 Main body
*/

body {
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/*
  home
*/

.home {
    margin-top: 25px;
}

.mainbody {
    margin-bottom: 40px;
}

.term {
    margin-top: 5px;
}


/*
  SignIn Component
*/

.or {
    font-size: 15px
}

.signin {
    margin-top: 70px;
}

#signinForm {
    margin-top: 20px;
    padding: 15px 25px 25px 25px;
}

.signinform {
    color: black;
    font-size: 15px;
    width: 100%;
    border-radius: 4px;
    padding: 6px 0 6px 10px;
}

.signinformbtn {
    color: white;
    font-size: 25px;
    width: 100%;
    background-color: black;
    text-decoration: none;
    border: none;
    border-radius: 6px
}

.create {
    color: blue
}


/*
 SignUp Component
*/

#signupform {
    padding: 8px 20px 9px 20px;
}


/*
  AddMember
*/

.addmember {
    margin-top: 200px
}

.addmemberform {
    margin: 20px 25px;
}


/*
  Create Group
*/

.creategroupform {
    margin-top: 200px;
    transform: translateY(-50%);
}

#creategroupform {
    margin: 20px 25px;
}


/*
  ResetPassword Component
*/

.passwordreset {
    margin-top: 120px;
}

.resetform {
    margin-top: 1px;
    border-radius: 10px
}

#resetform {
    margin-top: 8px;
    padding: 10px 10px 25px 10px;
}


/*Groups*/

.grouplist {
    color: white;
    text-align: center;
}

// New
.row-offcanvas {
    height: 100%;
}

#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #222222;
    float: left;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    border-right: 1px solid gray;
}

.row-offcanvas .sidebar-offcanvas .groups {
    height: 50vh
}

.members {
    color: white;
}

.row-offcanvas .sidebar-offcanvas .members ul li {
    padding: 10px;
}

#main {
    height: 95%;
    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background-color: #222222;
    color: white;
}

.messageBoard {
    height: 65vh;
    overflow-y: scroll;
    margin-top: 10px;
}

.messageForm {
    padding-top: 20px;
}

.message {
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }
    .row-offcanvas-left {
        left: -220px;
    }
    .row-offcanvas-left.active {
        left: 0;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

.nogroupselected {
    height: 300px;
    margin-top: 20px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-size: 25px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup:hover #myPopup {
    visibility: visible;
}