node_modules
./server/Config/postItApp.json
.env
dist
.sample.json
test/testaaaa.js
.vscode
.nyc_output
.DS_Store
coverage

<button id="google"
  onClick={this.googleSignIn}>
  Sign in with Google+
</button>
