/*
 BroadcastBoard
*/

.para {
  color: white;
  padding: 10px
}

.board {
  margin-top: 20px;
  height: 300px
}

.broadcastbody {
  height: 250px;
}

#broadcastform {
  position: relative;
  bottom: 5px
}
