/*
 Main body
*/

body {
    background-color: #e8e8ee;
}


/*
  home
*/

.home {
    margin-top: 35px;
}

.footie {
    background-color: #333;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
}

#post-footer {
    /* margin-top: 2px; */
    color: white
}


/*
  SignIn Component
*/

#google {
    background-color: #f44242;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    position: center;
    width: 95%;
    margin: 8px;
    border-radius: 5px;
    /*padding: 10px;*/
}

.or {
    font-size: 15px
}

.signin {
    margin-top: 70px;
}

#signinForm {
    margin-top: 20px;
    padding: 15px 25px 25px 25px;
}

.signinform {
    color: black;
    font-size: 15px;
    width: 100%;
    border-radius: 4px;
    padding: 6px 0 6px 10px;
}

.signinformbtn {
    color: white;
    font-size: 25px;
    width: 100%;
    background-color: #333333;
    text-decoration: none;
    border: none;
    border-radius: 6px
}

.create {
    color: blue
}


/*
 SignUp Component
*/

#signupform {
    padding: 8px 20px 9px 20px;
}


/*
  AddMember========================================================
*/

.addmember {
    margin-top: 125px
}

.addmemberform {
    margin: 20px 25px;
}


/*
  Create Group
*/

.creategroupform {
    margin-top: 75px;
}

#creategroupform {
    margin: 20px 25px;
}


/*
  ResetPassword Component
*/

.passwordreset {
    margin-top: 60px;
}

.resetform {
    margin-top: 20px;
}

#resetform {
    margin-top: 8px;
    padding: 10px 10px 25px 10px;
}


/* Broadcast-Copy*/

.board {
    margin-top: 20px;
}


/*NEw Chat App*/


.blue { background: blue }
.grey { background: grey }
/*.chats-row { height: 75vh; }*/
.chats-row div {
    height: 75vh;
    border: 3px solid #ddd;
    padding: 0px;
    background-color: rgb(45, 45, 45);
    overflow-y: scroll;
}

.list-group-item {
    border: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;

}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat {
  height: 75vh;
  border: 2px solid #ddd;
  background-color: rgb(100, 100, 100);
  /*padding-bottom: -10px;*/
}

.chat-toolbar-row {
    background-color: #f5f5f5;
}

.current-chat-area {
    padding-top: 10px;
    overflow-y: scroll;
    height: 65vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;

}

/*Groups*/

.grouplist {
  margin-top: 10px;
  color: white;
  text-align: center;
}

/*.grouplist li {
  list-style-type: none;
};

.grouplist ul li button {
  width: 100%;
  background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  margin: 2px;
  border-radius: 4px;
}*/
